.Body {
    border-radius: 15px;
    margin-top: 70px;

    z-index: 1;
    margin-right: 2%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: flex-start; 
}
.specification{
    margin-left: 5px;
}
.container{
    position: relative;

     background-color: #0b2545; 

    border-radius: 15px;
    display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(900px, 1fr)); 
  grid-gap: 5px; 
    width:1000px;
    margin:5px;
    margin-left: 150px;

    background-color: #0b2545

}
.content{
   background: linear-gradient( #0376be, #0072ff);
    color: white; 
    display: flex; 
  flex-direction: row; 
  align-items: center; 
    margin: 5%;
    border-radius: 10px;
    width: 900px;
    
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.content:hover {
    transform: scale(1.05); 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); 
    background-color: #04152d;
}
.logo{
    width: 30%; 
}
.aboutImage{
    width: 70%;
    border-radius: 50%;
    margin-top: 4%;
    margin-left: 10%;
}
.aboutItems{
    color:  var(--color-text);
    display:  flex;
    flex-direction: column;
    gap: 40 px;
}

.profile {
    position: fixed;
    top: 20px; 
    background-color: rgba(12, 12, 12, 0.863); 
    border-radius: 15px;
    color: white;
    text-align: center;
    width: 20%; 
    border: 2px solid black;
    height: fit-content; 
    margin-top: 10%;
    margin-left: 73%;
    padding: 30px;
}
.profile h3 {
    color: rgb(192, 43, 226);
    text-decoration: underline ;
    text-decoration-color: rgb(103, 184, 255);
    text-underline-offset: 6px;
}
.aboutItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    color: aliceblue;
    list-style: none;
    padding: 25px;
    background-size: 0 , 100%;
}
.aboutItem1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    list-style: none;
    padding: 25px;
    background-size: 0, 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5); 
    margin-bottom: 10px; 
}

.aboutItem1:last-child {
    border-bottom: none; 
}
.detailsLink{
    text-decoration: none;
    color: rgba(9, 152, 140, 0.819);
}